@charset "UTF-8";

.Sup{
    background-color: grey;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 48px;
	text-align: center;
}
.Side{
  background-color: white;
  height: 1100px;
  width: 40%;
  float: left;
  margin-bottom: 10px;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  font-size: 24px; 
}

.Banner{
    background-color: grey;
    height: 100px;
    width: 60%;
    float: right;
    margin-bottom: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 24px; 
	text-align: center;
}

.Area{
  background-color: grey;
  height: 1200px;
  width: 60%;
  float: right;
  margin-bottom: 10px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 24px; 
	text-align: center;
}

.Footer{
  background-color: grey;
  height: 100px;
  width: 100%;
  float: left;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 24px; 
	text-align: center;
}