@charset "UTF-8";

.Sup{
    background-color: grey;
    height: 75px;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 24px;
}

.Header{
  background-color: grey;
  height: 135px;
  width: 95%;
  margin-left: 2%;
  margin-right:2%;
  margin-bottom: 20px;
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 18;
}

.Intro{
  background-color: grey;
  height: 135px;
  width: 95%;
text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 18;
  margin-left: 2%;
  margin-right:2%;
}

.Box{
  background-color: grey;
  height: 300px;
  width: 29%;
  float:left;
  margin: 2%;
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 18;
}

.Contenedor{
  height: 300px;
}

.Footer{
    background-color:grey;
    width: 95%;
    height: 30px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20px; 
}